.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track-action {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.Track-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
  padding: 1rem;
}

.Track-information h3 {
  margin-bottom: .22rem;
}

.Track-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

/* style the time of the audio player  */
.rhap_time {
  visibility: hidden;
}
/* style the play button of the audio player */
/* .rhap_main-controls { 
} */

/* style the play button of the audio player */
.rhap_play-pause-button {
  display: flex;
  align-items: left;
  color: #fff;
  font-size: 2rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}




@media only screen and (max-width: 1020px) {

}
  

